<!doctype html>
<html lang="fr" class="no-js">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="/asset/css/faq/reset.css"> <!-- CSS reset -->
	<link rel="stylesheet" href="/asset/css/faq/style.css"> <!-- Resource style -->
	<script src="/asset/js/faqjs/modernizr.js"></script> <!-- Modernizr -->
	<title>FAQ Template</title>
</head>
<body>
<%- include header.ejs %>

<header style="padding-top: 80px; margin-top: 80px;">
	<h1>FOIRE AUX QUESTIONS (FAQ)</h1>
</header>
<section class="cd-faq">
	<ul class="cd-faq-categories">
		<li><a class="selected" href="#basics">Générale</a></li>
		<li><a href="#mobile">Achat et Vente</a></li>
		<li><a href="#account">Moyens de paiement</a></li>
		<li><a href="#payments">Promotions</a></li>
		<li><a href="#privacy">Contact</a></li>
	</ul> <!-- cd-faq-categories -->

	<div class="cd-faq-items">
		<ul id="basics" class="cd-faq-group">
			<li class="cd-faq-title"><h2>Générale</h2></li>
			<li>
				<a class="cd-faq-trigger" href="#0">Comment s'inscrire</a>
				<div class="cd-faq-content">
					<p>Cliquer sur S'INSCRIRE dans le menu de navigation pour acceder à la page d'inscription</br>
						1- choisissez inscription</br>
						2-enter votre nom</br>
						3-entrer votre prénom</br>
						4-votre pays et cliquer SUIVANT</br>
						5- entrer vote nom d'utilisateur</br>
						6-votre numéro de téléphone</br>
						7-votre email et cliquer SUIVANT</br>
						8-entrer votre mot de passe</br>
						9-confirmer votre mot de passe</br>
						10-Cliquez ENVOYER  , vous devez recevoir un email contenant votre lien d'activation</br>
						11-ouvrer votre boite email et cliquer sur le lien d'activation reçu pour confirmer votre inscription</br>
							<em>BRAVO!!!</em> vous voilà membre de HiroPay et prêt à éffectuer votre première trasaction!!!

					</p>
				</div> <!-- cd-faq-content -->
			</li>

			<li>
				<a class="cd-faq-trigger" href="#0">Comment se connecter</a>
				<div class="cd-faq-content">
					<p>Cliquer sur CONNEXION dans le menu de navigation pour acceder à la page de connexion</br>
						1-choisissez connexion</br>
						2-entrer votre nom d'utilisateur</br>
						3-entrer votre mot de passe</br>
						4-cliquer sur connexion et vous voilà connectés

					</p>
				</div> <!-- cd-faq-content -->
			</li>

			<li>
				<a class="cd-faq-trigger" href="#0">J'ai perdu mon mot de passe que faire?</a>
				<div class="cd-faq-content">
					<p>
						si vous perdez votre mot de passe, vous devez alors réinitialiser ce mot de passe et créer un nouveau.</br>
						pour se faire:</br>
							1- cliquer sur CONNEXION dans le menu de navigation</br>
							2-tout en bas de l'espace de connexion cliquer sur MOT DE PASSE OUBLIE</br>
							3-entrer votre nom d'utilisateur et cliquer sur ENVOYER</br>
							4-aller dans votre boite emaeil et cliquer sur le lien reçu, vous serez redirigés vers une page
								pour créer votre nouveau mot de passe!!.


					</p>
				</div> <!-- cd-faq-content -->
			</li>

			<li>
				<a class="cd-faq-trigger" href="#0">Quelles sont vos heures de travail?</a>
				<div class="cd-faq-content">
					<p>
						**Nous travaillons tous les jours Lundi à Samedi de 8h30 à 17h30 min
						sauf dimanche et les jours fériés </br></br>
						**Toute fois si vous désirez effectuer une transaction de vente ou d'achat en déhors des heure de travail ou
						les jours fériés , vous devez avant tout contacter le support pour s'assurer de la diponibilité du service</br></br>
						**pour faire simple contacter le support par whattsap ou email en déhors des heures de travail</br></br>
						**si vous placez un ordre en déhors des heures de travail sans contacter le support, l'ordre sera exécuté une fois que nous nous reprenons service

						

					</p>
				</div> <!-- cd-faq-content -->
			</li>
		</ul> <!-- cd-faq-group -->

		<ul id="mobile" class="cd-faq-group">
			<li class="cd-faq-title"><h2>Achat et vente</h2></li>
			<li>
				<a class="cd-faq-trigger" href="#0">comment acheter une cryptomonnaie sur HiroPay</a>
				<div class="cd-faq-content">
					<p>
						1-connecter vous à votre compte et cliquer sur acheter dans le menu de navigation</br></br>
						2-remplir le formulaire d'achat : montant en dollar ou en cfa dans les cases respectives</br></br>
						3-entrer l'adresse de sur laquelle vous désirez recevoir vos monnaies et enter encore la meme adresse dans le champ suivant</br></br>
						4-choisissez la monnaie que vous voulez acheter ainsi que le moyen de paiement et valider</br></br>
						5-vous verez ensuite toutes les informations necessaire pour effectuer votre paiement.


					</p>
				</div> <!-- cd-faq-content -->
			</li>

			<li>
				<a class="cd-faq-trigger" href="#0">comment vendre une cryptomonnaie sur HiroPay</a>
				<div class="cd-faq-content">
					<p>
						1-connecter vous à votre compte et cliquer sur VENDRE dans le menu de navigation</br></br>
						2- remplir le formulaire de vente: montant à vendre en dollar</br></br>
						3- entrez votre numero Flooz ou Tmoney ou tout autre moyen proposé par Hiropay et selectionnez ensuite ce moyens de paiement puis valider</br></br>
						4-vous verrez ensuite une adresse sur laquelle vous devez envoyer les pieces à vendre!!


					</p>
				</div> <!-- cd-faq-content -->
			</li>

			<li>
				<a class="cd-faq-trigger" href="#0">Combien de temps faut-il pour traiter votre ordre</a>
				<div class="cd-faq-content">
					<p>
						1- les ordres sont traités dans les 5 minutes à 30 miinutes qui suivent la réception de votre paiement.</br></br>
						2- si vous ne recevez pas vos monnaies dans les 30 premieres minutes veillez contacter le support.</br></br>
						***Notez qu'en cas d'une forte demande entrainant une rupture de stock , votre odre peut prendre plus de temps que prévu et dans ce cas le support vous tiendra informé

					</p>
				</div> <!-- cd-faq-content -->
			</li>

			
			<li>
				<a class="cd-faq-trigger" href="#0">Quels sont les montants minimum et maximum que je peux acheter ou vendre</a>
				<div class="cd-faq-content">
					<p>
						Le montant minimum est de 10 dollars</br></br>
						il n'ya pas de montant maximum donc vous pourrez acheter n'importe quelle quantité vous désirez

					</p>
				</div> <!-- cd-faq-content -->
			</li>


		</ul> <!-- cd-faq-group -->

		<ul id="account" class="cd-faq-group">
			<li class="cd-faq-title"><h2>Moyens de Paiement</h2></li>
			<li>
				<a class="cd-faq-trigger" href="#0">Quels sont vos moyens de paiement</a>
				<div class="cd-faq-content">
					<p>
						Les moyens de paiement sur notre site pour le moment sont:</br></br>
						1- Flooz</br></br>
						2-Tmoney (Togocel money)</br></br>
						3-Wari</br></br>
						4-Ecobank mobile</br></br>
						5-Contacter le support si vous désirez utiliser un autre moyen que ceux pré-cités


					</p>
				</div> <!-- cd-faq-content -->
			</li>

			<li>
				<a class="cd-faq-trigger" href="#0">Acceptez-vous les cartes VISA ou MASTERCARD?</a>
				<div class="cd-faq-content">
					<p>
						Désolé pour le moment nous n'offrons pas ces services mais nous travaillons activement pour les implémenter dans le futur.
						
					</p>
				</div> <!-- cd-faq-content -->
			</li>
		</ul> <!-- cd-faq-group -->


		<ul id="payments" class="cd-faq-group">
			<li class="cd-faq-title"><h2>Promotions</h2></li>
			<li>
				<a class="cd-faq-trigger" href="#0">y a-t-il des bonus pours les grosses transactions?</a>
				<div class="cd-faq-content">
					<p>
						Oui nous offrons une réduction de prix pour les grosses transactions</br></br>
						*Au dela de 100 dollars vous avez une réduction de meme qu'au dela de 500 dollars et 1000 dollars
					</p>
				</div> <!-- cd-faq-content -->
			</li>

			<li>
				<a class="cd-faq-trigger" href="#0">Avez vous des promotions particulières?</a>
				<div class="cd-faq-content">
					<p>
						Nous faisons très souvent des promotions de vente et d'achat, vous recevrez un email à chaque fois qu'il y a une promotion!!

					</p>
				</div> <!-- cd-faq-content -->
			</li>

		</ul> <!-- cd-faq-group -->



		<ul id="privacy" class="cd-faq-group">
			<li class="cd-faq-title"><h2>contact</h2></li>
			<li>
				<a class="cd-faq-trigger" href="#0">Quand peut-on contacter le support?</a>
				<div class="cd-faq-content">
					<p>
						Vous pouvez contacter le support à n'importe quelle heure aux heures de travail

					</p>
				</div> <!-- cd-faq-content -->
			</li>

			<li>
				<a class="cd-faq-trigger" href="#0">Par quel moyen contacter le support?</a>
				<div class="cd-faq-content">
					<p>
						vous pouvez contacter le support par</br></br>
						  *appel téléphonique</br></br>
						  *whattsapp</br></br>
						  *email</br></br>
						  *vous trouverez le numero de téléphone ainsi que l'adresse email dans la section CONTACT 
					</p>
				</div> <!-- cd-faq-content -->
			</li>

			
		</ul> <!-- cd-faq-group -->

	</div> <!-- cd-faq-items -->
	<a href="#0" class="cd-close-panel">Close</a>
</section> <!-- cd-faq -->
<script src="/asset/js/jquery.min.js"></script>
<script src="/asset/js/faqjs/jquery.mobile.custom.min.js"></script>
<script src="/asset/js/faqjs/main.js"></script> <!-- Resource jQuery -->
</body>
</html>