<section id="footer">
		<div class="container">
			<div class="row text-center text-xs-center text-sm-left text-md-left">
				<div class="col-xs-12 col-sm-6 col-md-6">
					<h5>Accès rapideé</h5>
					<ul class="list-unstyled quick-links">
						<li><a href="#"><i class="fa fa-angle-double-right"></i>Acceuil</a></li>
						<li><a href="#about"><i class="fa fa-angle-double-right"></i>A propos</a></li>
						<li><a href="#contact"><i class="fa fa-angle-double-right"></i>Contact</a></li>
						<li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>FAQ</a></li>
					</ul>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-6">
					<h5>Accès rapide</h5>
					<ul class="list-unstyled quick-links">
						</li>
						<li><a href="javascript:void()"><i class="fa fa-angle-double-right"></i>Connexion</a></li>
						<li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Inscription</a></li>
					</ul>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
					<ul class="list-unstyled list-inline social text-center">
						<li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-facebook fa-5x"></i></a></li>
						<li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-twitter "></i></a></li>
						<li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-whatsapp"></i></a></li>
						<li class="list-inline-item"><a href="javascript:void();" target="_blank"><i class="fa fa-envelope"></i></a></li>
					</ul>
				</div>
				</hr>
			</div>	
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
					<p>Mon site est un service d'achat et de vente de cryptomonnaies comme: <strong>Bitcoin, Ethereum, Litecoin</strong> , et de monnaies electroniques :<strong>Perfectmoney</strong>  </p>
					<p class="h6">&copy Tous droits réservés<a class="text-green ml-2" href="#">Mon site</a></p>
				</div>
				</hr>
			</div>	
		</div>
	</section>
	<!-- ./Footer -->