

<%- include header.ejs %>

<div style="height: 50px;"></div>
			<div id="part1">
				<div><h1 class="partenaire">Votre partenaire d'échange <span class="crypto">crypto</span></h1></div>
				<div id="part2" ">
					<div id="particles-js"></div>
				</div>
				<div >
					<a class="btn btn-warning  aniview reallyslow" data-av-animation="fadeIn" href="#login"><strong>Se connecter Maintenant</strong></a>
				</div>
				
				
			</div>
			<!--sections avec les images et animations-->
			<div id="about" class="container-fluid">
				<div class="container text-center" ><h2>Pourquoi nous choisir?</h2> </div>
				<div class="container">
					<div class="row text-center text-xs-center text-sm-center text-md-center text-lg-center text-xl-center">


						<div class="col-xs-12 col-sm-12 col-md-4">
							<div id="cercle1" ></div>
							<p >
								<h4 class="aniview" data-av-animation="slideInRight">
								
								Transactions rapides et fiables </br>
								en tout temps
								, plusieurs moyens</br>
								de payement: Flooz, Wari,</br>
								Ecobank mobile, Tmoney
								</h4>
							</p>
							
						</div>
						<div class="col-xs-4 col-sm-12 col-md-4">
							<div id="cercle2"></div>
							<p >
								<h4 class="aniview" data-av-animation="slideInRight">Protection maximale de vos </br>
								données personnelles: données</br>
								cryptées</h4>
							</p>
							
						</div>
						<div class="col-xs-12 col-sm-12 col-md-4">
							<div id="cercle3">
	

							</div>
							<p >
								<h4 class="aniview" data-av-animation="slideInRight">La satisfaction de </br> nos cliens
								fait </br>notre réputation
								</h4>
							</p>
							
						</div>
						
					</div>
				</div>
				
			</div>

			<!--contact-->
				<div id="contact"> <%- include contact.ejs %></div>
				

				<div class="aniview" data-av-animation="slideInRight">
					<%- include footer.ejs %>
				</div>